<h1 class='text-center'>Homevisits Index</h1>
<ol><% @clients.each do |client| %>
  <li><%= client.name %></li>
    <% client.homevisits.all.each do |homevisit| %>
      <ul><li><%= homevisit.departure_date %> - <%= homevisit.return_date %></li></ul>
    <% end %>
  <% end %></ol>
